@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}
body {
  font-family: "Poppins", sans-serif;
}
.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary {
  background: #f28947;
  font-size: 14px !important;
}
.btn-primary:hover{
  background: #ff9c5f !important;

}
.nav-font {
  font-size: 14px !important;
}
.hover:hover{
  color: #f28947 !important;
}
.nav-hover:hover{
  color: #f28947 !important;
  border-bottom: 5px solid #f28947;
}
@media only screen and (max-width: 1200px) {
  .nav-link {
    padding: 8px 8px !important;
  }
  .nav-font{
    font-size: 13px !important;
  }
}
.main-header{
  background-image: url(./assets/img/Main-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  background-image: url(./assets/img/Header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-text {
  padding: 128px 26px;
}
@media only screen and (max-width: 469px) {
  .header-img {
    width: 100% !important;
  }
}

h1 {
  font-size: 57px;
}
.marquee{
    border-radius: 20px;
    background-color: #d3acff;
}
:placeholder {
  color: #8D98AF !important;
  opacity: 1; 
}

input:focus{
  outline: 5px solid #f8f9fa !important;
}
.tiktok:hover{
  background: -webkit-linear-gradient(#9500ff, #0038d1) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.youtube:hover{
  background: -webkit-linear-gradient(red , red) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.insta:hover{
  background: -webkit-linear-gradient(yellow,purple) !important;
 background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.svg-div{
  position: relative;
  height: 200px;
width: 200px;
}
.yellow-circle{
  background-color: #E9FF78;
  border-radius: 100px;
height: 100%;
width: 100%   ;

}
.svg-text{
width: 330px;
}
.arrow-1::after{
  content: url(./assets/img/arrow-1.png);
  position: absolute;
  top: 163px;
  left: -6px;
}
.arrow-2::after{
  content: url(./assets/img/arrow-2.png);
  position: absolute;
  top: -60px;
  left: 173px;
}
.arrow-3::after{
  content: url(./assets/img/arrow-3.png);
  position: absolute;
  top: 10px;
  left: 180px;
}
.flow-card{
  width: 328px !important;
  height: 468px !important;
}
.masonry {
  column-count: 2; /* Number of columns */
  column-gap: 1em; /* Gap between columns */
}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 1em;
}
.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
}


.testimonial-section {
  padding: 50px 0;
  background-color: #f9f9f9;
  border-radius: 15px;
  overflow: hidden;
}
.testimonial-cards-wrapper {
  overflow: hidden;
  position: relative;
}
.testimonial-cards {
  display: flex;
  transition: transform 0.6s ease;
}
.testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 0 0 100%;
  opacity: 0.7;
  transition: opacity 0.6s ease; 
}
.testimonial-card.active {
  opacity: 1;
}
.indicator {
  background-color: #666;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
}
.indicator.active {
  background-color: #000;
}