@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}
body {
  font-family: "Poppins", sans-serif;
}

.color {
  background: #f28947;
}
.nav-font {
  font-size: 14px !important;
}
@media only screen and (max-width: 1200px) {
  .nav-link {
    padding: 8px 8px !important;
  }
  .nav-font{
    font-size: 13px !important;
  }
}

header{
  background-image: url(./assets/img/Header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-text {
  padding: 128px 26px;
}
@media only screen and (max-width: 469px) {
  .header-img {
    width: 100% !important;
  }
}

h1 {
  font-size: 57px;
}
.marquee{
    border-radius: 20px;
    background-color: #d3acff;
}
input::placeholder {
  color: #8D98AF !important;
  opacity: 1; 
}

input:focus{
  outline: 5px solid #f8f9fa !important;
}